---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main class="flex justify-center items-center flex-col h-full">
    <img src="/profile.gif" class="rounded-full border-4" />
  </main>
</Layout>
