---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main class="flex justify-center items-center flex-col h-full gap-3">
    <img src="/profile.gif" class="rounded-full border-4" />
    <h1 class="font-bold font-['Montserrat',sans-serif] text-5xl">FLzyy</h1>
    <h2 class="font-['Lato',sans-serif] text-2xl text-center">
      NodeJS/Deno Developer that makes NPM packages.
    </h2>
  </main>
</Layout>
