.contain {
  max-width: var(--ifm-container-width);
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  place-content: center;
  text-align: center;
}

.profile {
  border-width: 0.3rem;
  border-style: solid;
  border-color: var(--ifm-color-primary-lighter);
  border-radius: 50%;
}

.buttons {
  margin-top: 1.2rem;
  column-gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 3rem;
  width: 9rem;
  column-gap: 0.6rem;
}

.dynamic-text li {
  position: relative;
  font-size: x-large;
  font-weight: 500;
  top: 0;
  position: relative;
  animation: slide 18s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: calc(-100% + -6rem);
  }
  0% {
    top: 0;
  }
}

.dynamic-text li::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  border-left: 0.13rem solid var(--ifm-color-primary-lightest);
  animation: typing 4.5s steps(25) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 1.875rem);
  }
  100% {
    left: 0;
  }
}

.dynamic-text {
  line-height: 2rem;
  height: 2rem;
  /* background-color: beige; */
  overflow: hidden;
}

.layout {
  display: grid;
  place-content: center;
  place-items: center;
  margin-top: 5rem;
  margin-bottom: 8rem;
}

footer {
  padding-bottom: 0;
}

@media (min-width: 1440px) {
  .contain {
    max-width: var(--ifm-container-width-xl);
  }
}

@media screen and (max-width: 996px) {
  .contain {
    margin-bottom: 4rem;
  }
}
