.layout {
  display: grid;
  padding: 4rem 10rem;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

@media screen and (max-width: 996px) {
  .layout {
    grid-template-columns: 1fr;
    padding: 4rem 0;
  }
}
