---
import NavbarDivider from "../components/NavbarDivider.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full m-0">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/gif" href="/profile.gif" />
    <meta name="generator" content={Astro.generator} />
    <title>{title + " | FLzyy"}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="h-full m-0 dark:bg-zinc-800 dark:text-neutral-50 transition-colors duration-100"
  >
    <nav
      class="border-b-2 border-gray-200 dark:border-neutral-700 h-16 flex items-center pl-6 pr-2 w-full fixed transition-colors duration-100 md:px-8"
    >
      <img
        src="/profile.gif"
        class="h-auto w-8 rounded-md mr-3"
        draggable="false"
      />
      <a href="/"
        ><h1 class="font-bold font-['Montserrat',sans-serif]">FLzyy</h1></a
      >
      <div class="w-full"></div>
      <li class="list-none flex-row flex gap-4 items-center">
        <ul>
          <a href="/tools/" class="font-['Lato',sans-serif]">Tools</a>
        </ul>
        <NavbarDivider />
        <ul>
          <a
            href="https://github.com/FLzyy"
            class="hover:fill-gray-800 transition-colors dark:fill-gray-50 dark:hover:fill-gray-200"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              width="28"
              height="28"
              ><path
                d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"
              ></path></svg
            ></a
          >
        </ul>
        <NavbarDivider />
        <ul>
          <button
            id="theme-toggle"
            class="w-5 h-auto flex justify-center transition-colors hover:fill-gray-800 dark:fill-zinc-200 dark:hover:fill-zinc-300"
          >
            <svg
              id="icon-dark"
              class="hidden"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 384 512"
            >
              <path
                d="M223.5 32C100 32 0 132.3 0 256S100 480 223.5 480c60.6 0 115.5-24.2 155.8-63.4c5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6c-96.9 0-175.5-78.8-175.5-176c0-65.8 36-123.1 89.3-153.3c6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z"
              ></path></svg
            >
            <svg
              id="icon-light"
              class="hidden"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                d="M361.5 1.2c5 2.1 8.6 6.6 9.6 11.9L391 121l107.9 19.8c5.3 1 9.8 4.6 11.9 9.6s1.5 10.7-1.6 15.2L446.9 256l62.3 90.3c3.1 4.5 3.7 10.2 1.6 15.2s-6.6 8.6-11.9 9.6L391 391 371.1 498.9c-1 5.3-4.6 9.8-9.6 11.9s-10.7 1.5-15.2-1.6L256 446.9l-90.3 62.3c-4.5 3.1-10.2 3.7-15.2 1.6s-8.6-6.6-9.6-11.9L121 391 13.1 371.1c-5.3-1-9.8-4.6-11.9-9.6s-1.5-10.7 1.6-15.2L65.1 256 2.8 165.7c-3.1-4.5-3.7-10.2-1.6-15.2s6.6-8.6 11.9-9.6L121 121 140.9 13.1c1-5.3 4.6-9.8 9.6-11.9s10.7-1.5 15.2 1.6L256 65.1 346.3 2.8c4.5-3.1 10.2-3.7 15.2-1.6zM160 256a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zm224 0a128 128 0 1 0 -256 0 128 128 0 1 0 256 0z"
              ></path></svg
            >
          </button>
        </ul>
        <ul></ul>
      </li>
    </nav>
    <slot />
  </body>
</html>

<script>
  let current = "light" satisfies "light" | "dark";

  const toggleIcon = (isDark: boolean) => {
    const dark = document.querySelector("#icon-dark");
    const light = document.querySelector("#icon-light");
    if (isDark) {
      dark?.classList.remove("hidden");
      light?.classList.add("hidden");
      return;
    }
    dark?.classList.add("hidden");
    light?.classList.remove("hidden");
  };

  const setTheme = () => {
    if (
      localStorage.getItem("theme") === "dark" ||
      (!("theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
      current = "dark";
      toggleIcon(true);
    } else {
      document.documentElement.classList.remove("dark");
      current = "light";
      toggleIcon(false);
    }
  };

  setTheme();

  document.querySelector("#theme-toggle")?.addEventListener("click", () => {
    if (current === "dark") {
      localStorage.setItem("theme", "light");
    } else {
      localStorage.setItem("theme", "dark");
    }
    setTheme();
  });
</script>
